<div>
    <div>
        <button (click)="setIncrement()">basic set signal example</button>
        <span>{{basicSignal()}}</span>
    </div>
    <div>
        <button (click)="updateIncrement()">basic update signal example</button>
        <span>{{basicSignal()}}</span>
    </div>
    <div>
        <button>computed signal example</button>
        <span>{{computerSignal()}}</span>
    </div>
    <div>
        <button>untracked example</button>
        <span>{{untrackedSignal()}}</span>
    </div>
    <div>
        <button>effect example</button>
        <span>{{message()}}</span>
    </div>
</div>